h1 {
    text-align: center;
  }
  
  #square {
    height: 150px;
    width: 150px;
    border: 2px solid black;
    font-size: 7rem;
    text-align: center;
  }
  
  #gameboard {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    margin: 0 auto;
  }

#counter {
    height:90px;
    width:90px;
    margin: 0 auto;
    font-size: 60px;
    border: 5px solid black;
    text-align: center;
    font-family: sans-serif;
border-radius: 80%;
}  

#trys {
    color:blueviolet;
    font-weight: bold;
}